@model IEnumerable<DCUniverseMVC.Models.Nemesi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NemesisName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InJail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfHenchmen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hero.HeroName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NemesisName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InJail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfHenchmen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hero.HeroName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NemesisID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NemesisID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NemesisID })
        </td>
    </tr>
}

</table>
